/__pycache__
log/debug.log
log/debug.log
log/debug.log.1
log/debug.log.2
log/debug.log.3
log/debug.log.4
log/debug.log.5
resources/0_background.png
resources/1_off.png
resources/1_on.png
resources/2_off.png
resources/2_on.png
resources/3_off.png
resources/3_on.png
resources/0727_arm_down.jpg
resources/0727_arm_menu.jpg
resources/0727_arm_norm.jpg
resources/arrow_down_down.png
resources/arrow_down_norm.png
resources/arrow_left_down.png
resources/arrow_left_norm.png
resources/arrow_right_down.png
resources/arrow_right_norm.png
resources/arrow_up_down.png
resources/arrow_up_norm.png
resources/b_ap_spine_down.png
resources/b_ap_spine_norm.png
resources/b_lateral_down.png
resources/b_lateral_norm.png
resources/b_left_femur_down.png
resources/b_left_femur_norm.png
resources/b_left_forearm_down.png
resources/b_left_forearm_norm.png
resources/b_mode_down.png
resources/b_mode_norm.png
resources/b_right_femur_down.png
resources/b_right_femur_norm.png
resources/b_right_forearm_down.png
resources/b_right_forearm_norm.png
resources/b_total_body_down.png
resources/b_total_body_norm.png
resources/b_va_down.png
resources/b_va_norm.png
resources/m_collimator1_down.png
resources/m_collimator1_norm.png
resources/m_collimator2_down.png
resources/m_collimator2_norm.png
resources/m_collimator3_down.png
resources/m_collimator3_norm.png
resources/m_collimator4_down.png
resources/m_collimator4_norm.png
resources/m_config_down.png
resources/m_config_norm.png
resources/m_move_center_down.png
resources/m_move_center_norm.png
resources/m_patient_off_left_down.png
resources/m_patient_off_left_norm.png
resources/m_patient_off_right_down.png
resources/m_patient_off_right_norm.png
